{% extends "base.html" %}
{% load static %}
{% block title %}EduAlly - Modules{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static 'css/slm/slm.css' %}">
{% endblock %}
{% block content %}
    <div class="dashboard-container">
        {% include "components/navigations.html" %}
        <main class="main-content">
            <div class="tabs">
                <header class="tab-header">
                        {% include "slm/tabs/tab_list.html" with tabs=tabs %}
                </header>
                {% include "slm/tabs/tab_panels.html" with tabs=tabs %}
            </div>
        </main>
    </div>
    {% include "components/global_modal.html" %}
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/modal.js' %}" defer></script>
    <script src="{% static "js/slm/tab_switching.js" %}"></script>
{% endblock %}