{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduAlly - Modules</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" href="{% static 'css/slm/slm.css' %}">
    
</head>
<body>
    <div class="dashboard-container">
        {% include "components/navigations.html" %}
        <main class="main-content">
            <div class="tabs">
                <header class="tab-header">
                        {% include "components/tabs/tab_list.html" with tabs=tabs %}
                </header>
                {% include "components/tabs/tab_panels.html" with tabs=tabs %}
            </div>
        </main>
    </div>
    <script src="{% static "js/slm/tab_switching.js" %}"></script>
</body>
</html>
